html {
	scroll-behavior:smooth;
}

* {
	padding: 0;
	margin: 0;
	text-decoration: none;
}

.wrapper {
	margin: 0 auto;
}



.header {
	background-color: #f74c55;
	height: 500px;
	position: relative;
	overflow:hidden;
	
}

.header_content::after {
	content: '';
	background: url(../img/ellipse2.png)no-repeat ;
	position: absolute;
	bottom:  -300px;
	right:  -350px;
	z-index: 2;
	height: 527px;
	width: 527px;
}



.header_content {
	padding: 0 10px;
	max-width: 1030px;
	margin: 0 auto;
	height: inherit;
	position: relative;
	z-index: 3;
}
.header_content::before {
	content: '';
	background: url(../img/Ellipse1.png)center no-repeat ;
	position: absolute;
	top: -150px;
	left: -375px;
	z-index: 3;
	height: 870px;
	width: 870px;
}

.header__logo-nav {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	position: relative;
	z-index: 4;
}


#menu__toggle {
	opacity: 0;
}



.nav {
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 15px;
}
.nav li {
	display: inline-block;
	margin-left: 25px;

}
.nav li a {
	font-family: Open Sans;
	font-size: 16.1px;
	line-height: 44px;
	font-weight: 300;
	text-transform: uppercase;
	color: #ffffff;
	transition: all .5s;
}

.nav li :hover {
	color:#404040;
	text-shadow: 0 0 10px #404040;

}




.header__main_part {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	height: 90%;
	position: relative;
	z-index: 3;
}

.main_part-wrap {
	width: 40%;
}
.main_part-wrap h1 {
	font-family: Open Sans;
	font-size: 40.1px;
	line-height: 44px;
	font-weight: 300;
	color: #ffffff;
}
.main_part-wrap p {
	font-family: Open Sans;
	font-size: 16.1px;
	line-height: 44px;
	font-weight: 300;
	color: #ffffff;
}

.button {
	display: inline-block;
	border: 2.0px solid #ffffff;
	border-radius: 7px;
	box-sizing: content-box;
	cursor:pointer;
}


.button:hover {
	animation: shake 0.7s cubic-bezier(.5,.5,.5,.5) both;
	transform: translate3d(0,0,0);
	
}

@keyframes shake {
	10%,90% {
		transform: translate3d(-1px,0,0);
	}
	20%,80% {
		transform: translate3d(2px,0,0);
	}
	30%,50%,70% {
		transform: translate3d(-4px,0,0);
	}
	40%,60% {
		transform: translate3d(4px,0,0);
	}
}

.button a {
	font-family: Open Sans;
	font-size: 24.1px;
	line-height: 24px;
	font-weight: 400;
	color: #ffffff;
	padding: 6px 25px;
	display: block;
}

.about {
	min-height: 450px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	

}

.about-wrap {
	max-width: 870px;
	margin: 0 auto;
}
.about-wrap h2 {
	font-family: Open Sans;
	font-size: 30.1px;
	font-weight: 300;
	color: #000000;
	margin-bottom: 26px;
}
.about-wrap p {
	font-family: Open Sans;
	font-size: 14.1px;
	line-height: 24px;
	font-weight: 300;
	color: #404040;
	margin-bottom: 57px;
}

.bricks {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	margin-left: 4px;
}

.br:hover {
	animation: br 0.7s  both;
	transform: translate3d(0,0,0);
}

@keyframes br {
	0%,100% {
		transform: translate3d(0,0,0);
	}
	25% {
		transform: translate3d(0,3px,0);
	}
	75% {
		transform: translate3d(0,-7px,0);
	}
	
}

.colorbrick1 {
	width: 36px;
	height: 32px;
	background-color: #ee732f;
}
.colorbrick2 {
	width: 36px;
	height: 32px;
	background-color: #f74c55;
}
.colorbrick3 {
	width: 36px;
	height: 32px;
	background-color: #2d5f3b;
}
.colorbrick4 {
	width: 36px;
	height: 32px;
	background-color: #404040;
}
.colorbrick5 {
	width: 36px;
	height: 32px;
	background-color: #fb636b;
}

.services {
	max-width: inherit;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	
}

.services h2{
	font-family: Open Sans;
	font-size: 22.1px;
	line-height: 44px;
	font-weight: 400;
	color: #ffffff;
	margin-bottom: 16px;
}
.services p{
	font-family: Open Sans;
	font-size: 14px;
	line-height: 24px;
	font-weight: 300;
	color: #ffffff;
	margin-bottom: 21px;
}
.services p:not(:first-of-type) {
	transition: all 0.5s;
	visibility: hidden;
	height: auto;
	max-height: 0;
	overflow: hidden;
	margin-bottom: 0;

}

.plus {
	transition: all 0.5s;
	transform: rotate(0deg);
	cursor:pointer;
}

.chkbut:checked ~ p{
	visibility: visible;
	max-height: 300px;
	margin-bottom: 21px;
}

.chkbut:checked ~ label .plus{
	transform: rotate(135deg);
}

.services label {
	display: inline-block;
	float: right;
	font-size: 34.1px;
	line-height: 20px;
	font-weight: 900;
	color: #ffffff;
	padding: 8px;
	background: #272727;
	opacity: 0.8;
	border-radius: 3px;
	transform: rotate(0deg);
}



.seo-content, .responsive-content, .cloud-content{
	max-width: 268px;
	margin: 32px 48px;
}	
.seo {
	background-color: #404040;
	flex-grow:  2;
	display: flex;
	justify-content: flex-end;
}

.seo h2{
	background: url(../img/SEO.png)left no-repeat;
	text-indent: 45px;
}
.seo-content {
	
}

.responsive {
	background-color: #f74c55;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.responsive h2{
	background: url(../img/Response.png)left no-repeat;
	text-indent: 45px;
}

.cloud {
	background-color: #2d5f3b;
	flex-grow: 2;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
}
.cloud h2{
	background: url(../img/Cloud.png)left no-repeat;
	text-indent: 45px;
}

.colorful {
	margin: 0 auto;
	position: relative;
	width: 100%;
	min-height: 500px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
	background:url(../img/887.png)center  no-repeat ;
}

.chkbut {
	margin: 0 auto;
	display: none;
	
}

.filterShip {
	position: absolute;
	background-color: black;
	opacity: 0.9;
	z-index: 3;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	transition: all .7s;
}
.chkbut:checked ~ .but{
	background:rgba(247, 76, 85, 0.7);;
	color:#404040;
	border-color: #404040;
} 

.chkbut:checked ~ .filterShip {
	opacity: 0;
} 
.chkbut:checked ~ .colorful_text {
	text-shadow: 0 0 10px black;
} 



.colorful_text {
	position: relative;
	z-index: 5;
	transition: all .7s;
}
.colorful_text p{	
	font-family: Open Sans;
	font-size: 42.1px;
	line-height: 53px;
	font-weight: 300;
	color: #ffffff;
	max-width: 560px;
	text-align: center;
	margin-bottom: 50px;
}

.colorful_text span {
	font-weight: 700;
}

.but {
	background: rgba(0,0,0,0.7);
	position: relative;
	z-index: 5;
	font-family: Open Sans;
	font-size: 24.1px;
	line-height: 45px;
	font-weight: 400;
	color: #ffffff;
	padding: 0 35px;
	display: inline-block;
	user-select: none;
	transition: 0.4s all;
}

.footer {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: space-between;
	padding:  25px 0;
	border-top: 9px solid black;
	border-image: url(../img/border.jpg) 9 9 round;
}
.footer p {

	margin: 0 auto;
	opacity: 0.8;
	font-family: Open Sans;
	font-size: 16.1px;
	line-height: 53px;
	font-weight: 400;
	color: #000000;

}



@media screen and (max-width:900px) {
	.wrapper {
		min-width: 300px;
	}
	.header__main_part {
		display: -webkit-flex;
		display: -moz-flex;
		display: -ms-flex;
		display: -o-flex;
		display: flex;
		-webkit-flex-direction: column;
		-moz-flex-direction: column;
		-ms-flex-direction: column;
		-o-flex-direction: column;
		flex-direction: row;
		justify-content: center;
		align-items: center;
		height: 90%;
		position: relative;
		z-index: 3;
	}
	.main_part-wrap {
		width: 270px;
		height: 130px;
	}

	.about {
		padding: 15px;
	}


	.services {
		-o-flex-direction: row;
		flex-direction: column;
	}

	.seo, .responsive, .cloud {
		justify-content: center;
	
	}
}

@media screen and (max-width:900px) {
	.nav li {
		display: block;
		margin-left: 0px;
	}
	.menu__btn {
		display: flex; 
		align-items: center;  
		position: absolute;
		top: 20px;
		right:  20px;
		width: 26px;
		height: 26px;
		cursor: pointer;
		z-index: 1;
}

	.menu__btn > span,
	.menu__btn > span::before,
	.menu__btn > span::after {
		display: block;
		position: absolute;
		width: 100%;
		height: 2px;
		background-color: #616161;
	}
	.menu__btn > span::before {
		content: '';
		top: -8px;
	}
	.menu__btn > span::after {
		content: '';
		top: 8px;
	}

	.hmenu ul {
		display: block;
		position: fixed;
		visibility: hidden;
		top: 0;
		right: 0;
		width: 100vw;
		height: 0px;
		margin: 0;
		padding: 0px;
		list-style: none;
		text-align: center;
		background-color:#f74c55;
		box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
		transition: all 0.5s;
		overflow: hidden;

		}

	.hmenu li {
		display: block;

	}
	.menu__item:hover {
		background-color:transparent;
	}

	#menu__toggle:checked ~ .menu__btn > span {
		transform: rotate(45deg);
	}
	#menu__toggle:checked ~ .menu__btn > span::before {
		top: 0;
		transform: rotate(0);
	}
	#menu__toggle:checked ~ .menu__btn > span::after {
		top: 0;
		transform: rotate(90deg);
	}
	#menu__toggle:checked ~ .menu__box {
		visibility: visible;
		right:  0;
		height: 120px;
		transition: all 0.5s;
		padding: 40px 0;
	}
	#menu__toggle:checked ~ .menu__btn {
		position: fixed;
		margin-right: 10px;


}